.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.login > img {
  object-fit: contain;
}

.login > a {
  margin-bottom: 200px;
  padding: 20px;
  background-color: #1db954;
  border-radius: 99px;
  font-weight: 800;
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .login > img {
    width: 100%;
  }
}

.login__instruction {
  padding: 20px;
  color: white;
  width: 50vw;
}

.footer__copyright {
  color: rgb(99, 94, 94);
}

.footer__copyright > a {
  text-decoration: none;
  color: rgb(80, 80, 199);
}

.footer__copyright > a:hover {
  text-decoration: underline;
}
